body {
  background-color: rgb(159, 130, 0);
  font-family: 'The Nautigal', cursiva;
  text-align: center;
  margin: 0;
}

main {
  background-color: rgb(212, 190, 106);
  padding: 0;
}
#part-1 {
  margin: 30px 200px 0px 200px;
  background-color: rgb(159, 130, 0);
  font-size: 20px;
}
.part-one {
  text-align: center;
}
#part-two {
  background-color: rgb(159, 130, 0);
  text-align: justify;
}
a {
  padding-right: 0;
  color: black;
}

img {
  margin: auto;
}
#barra-menu {
  display: flex;
  list-style: none;
}