body {
  background-color: rgb(159, 130, 0);
  font-family: 'The Nautigal', cursiva;
  text-align: center;
  margin: 0;
  text-decoration: none;
}

main {
  background-color: rgb(212, 190, 106);;
}
#barra-menu {
  display: flex;
  list-style: none;
  padding-left: 5px;
  padding-bottom: 10px;
  background-color: rgb(159, 130, 0);
}
.barra-menu{
  margin-left: 10px;
}
.menu-derecho {
  padding-right: 0px;
}
#part-1 {
  margin: 30px 200px 0px 200px;
  background-color: rgb(159, 130, 0);
  font-size: 20px;
  line-height: 25px;
  font-weight: bold;
  margin: 40px 300px 50px 300px;
  padding: 1px 10px 1px 10px;
}
.part-one {
  text-align: center;
}
/*Hay que cambiar el padding supongo para que los puntos quedesn mas cerca de recuadro*/
.part-two {
  background-color: rgb(159, 130, 0);
  text-align: justify;
  padding: 10px 10px 90px 1px;
  margin: 15px;
  
}
a:link, a:visited,  a:hover, a:active {
  color: #000000;
  text-decoration: none;
}

img {
  margin: auto;
}
.img-two {
  width: 275px;
  height: 183px;
  margin: 10px;
  float: right;
}
.img-two-two {
  clear: right;
}